<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document Edit</title> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1 class="text-center">
            Server Status:
        </h1>
        <div id="loading-spinner" class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div id="is-online" style="display: none;">
            <span class="text-success">Online</span>
        </div>
        <div id="is-offline" style="display: none;">
            <span class="text-danger" id="offline-span">Offline</span>
        </div>
    </div>
    <script>
        const electron = require('electron');
        const ipcRenderer = electron.ipcRenderer;
        ipcRenderer.send("loaded", true);
        ipcRenderer.on("isConnected", (event, data) => {
            console.log(data);
            document.getElementById("loading-spinner").style.display = "none";
            if (data)
            {
                // const note = document.querySelector('.note');
                // note.style.backgroundColor = 'yellow';
                // note.style.color = 'red';
                document.getElementById("is-offline").style.display = "none";
                document.getElementById("is-online").style.display = "";
            } else {
                document.getElementById("is-offline").style.display = "";
                document.getElementById("is-online").style.display = "none";
            }
        });
    </script>
</body>

</html>